.cover__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 1184px;
    height: 594px;
    justify-content: flex-end;
    background-color: rgba(42, 44, 47,.3);
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__link{
        max-width: 1024px;
        height: 562px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__link{
        max-width: 768px;
        height: 500px;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .cover__link{
        max-width: 375px;
        height: 272px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .cover__link{
        max-width: 320px;
        height: 216px;
    }
}

.cover__link:hover{
    transition: opacity .5s ease;
    opacity: 1;
    background-color: rgba(42, 44, 47,.8);
    background-blend-mode: darken;
    
}
