@import url('./__director/video__director.css');

.videos__container{
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 583px);
    justify-content: space-between;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .videos__container{
        width: 928px;
        grid-template-columns: repeat(auto-fill, 456px);
    }
    }
@media screen and (min-width: 768px) and (max-width: 1023px){
    .videos__container{
        width: 720px;
        margin: 56px 24px 0 0;
        grid-template-columns: repeat(auto-fill, 352px);
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .videos__container{
        max-width: 343px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .videos__container{
        max-width: 288px;
    }
}
@media screen and (max-width: 767px){
    .videos__container{
        margin: 24px 0 0;
        grid-row-gap: 8px;
    }
}


