.intro__text{
    margin: 35px 0 0;
    padding: 0;
    max-width: 383px;

    list-style-type: none;
    font-family: Inter, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
}