.cover__title{
    position: relative;
    max-width: 1094px;
    margin: 0;
    z-index: 2;
    font-family: Inter, Helvetica, sans-serif;;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    color: #FFFDFD;
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .cover__title{
        max-width: 956px;
        padding: 0 25% 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .cover__title{
        max-width: 720px;
        padding: 0 15% 0;
    }
}
@media screen and (min-width: 375px) and (max-width: 767px){
    .cover__title{
        max-width: 343px;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .cover__title{
        max-width: 288px;
    }
}
@media screen and (max-width: 767px){
    .cover__title{
        font-size: 32px;
        line-height: 35px;
    }
}